@model FruitShopMVC.ViewModels.HomeVM

<!-- hero area -->
<div class="hero-area hero-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2 text-center">
				<div class="hero-text">
					<div class="hero-text-tablecell">
						<p class="subtitle">Tươi & Hữu cơ</p>
						<h1>Trái cây ngon theo mùa</h1>
						<div class="hero-btns">
							<a asp-controller="Product" asp-action="Shop" class="boxed-btn">Fruit Collection</a>
							<a asp-controller="Contact" asp-action="Index" class="bordered-btn">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero area -->
<!-- features list section -->
<div class="list-section pt-80 pb-80">
	<div class="container">

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-shipping-fast"></i>
					</div>
					<div class="content">
						<h3>Giao hàng miễn phí</h3>
						<p>Khi đặt trên 50$</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-phone-volume"></i>
					</div>
					<div class="content">
						<h3>Hỗ trợ 24/7</h3>
						<p>Luôn có mặt khi khách hàng cần!</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="list-box d-flex justify-content-start align-items-center">
					<div class="list-icon">
						<i class="fas fa-sync"></i>
					</div>
					<div class="content">
						<h3>Hoàn hàng</h3>
						<p>Nhận và hoàn hàng trong vòng 1 ngày !</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- end features list section -->
<!-- product section -->
<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text"></span>Sản Phẩm</h3>
					<p>Dưới đây là những sản phẩm được người dùng mua nhiều nhất.</p>
				</div>
			</div>
		</div>


		<div class="row">
			@foreach(var item in Model.Products)
			{
				if (item.IsSaling == true)
				{
					<div class="col-lg-4 col-md-6 text-center">
						<div class="single-product-item">
							<div class="product-image">
								<img src="@item.ImageUrl" alt="">
							</div>
							<h3>@item.ProductName</h3>
							<p class="product-price"><span>Mỗi Kg</span> @item.Price </p>
							<a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pId="@item.ProductId" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
						</div>
					</div>
				}
			}			
		</div>
	</div>
</div>
<!-- end product section -->
<!-- testimonail-section -->
<div class="testimonail-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 text-center">
				<div class="testimonial-sliders">
					<div class="single-testimonial-slider">
						<div class="client-avater">
							<img src="assets/img/avaters/avartar1.png" alt="">
						</div>
						<div class="client-meta">
							<h3>Nguyễn Thành Thông<span>Chủ Vườn Trái Cây - Tỉnh Ninh Thuận</span></h3>
							<p class="testimonial-body">
								" Ninh Thuận, với khí hậu khô hạn đặc trưng và nhiều nắng, đã trở thành vùng đất lý tưởng cho sự phát triển của nhiều loại trái cây đặc sản. Có các loại trái cây phổ biến là Nho, Táo, Thanh Long, Xoài, Mãng Cầu, Dưa Hấu. "
							</p>
							<div class="last-icon">
								<i class="fas fa-quote-right"></i>
							</div>
						</div>
					</div>
					<div class="single-testimonial-slider">
						<div class="client-avater">
							<img src="assets/img/avaters/avartar2.png" alt="">
						</div>
						<div class="client-meta">
							<h3>Phan Trung Hậu<span>Chủ Vườn Trái Cây - Thành Phố Đà Lạt</span></h3>
							<p class="testimonial-body">
								" Đà Lạt, thành phố cao nguyên thuộc tỉnh Lâm Đồng, nổi tiếng với khí hậu ôn đới mát mẻ quanh năm, là nơi lý tưởng cho sự phát triển của nhiều loại trái cây đặc sản. Có các loại trái cây phổ biến như Dâu Tây, Hồng Giòn, Atiso, Chanh Dây."
							</p>
							<div class="last-icon">
								<i class="fas fa-quote-right"></i>
							</div>
						</div>
					</div>
					<div class="single-testimonial-slider">
						<div class="client-avater">
							<img src="assets/img/avaters/avartar3.png" alt="">
						</div>
						<div class="client-meta">
							<h3>Lê Viết Huân<span>Chủ Vườn Trái Cây - Thành Phố Huế</span></h3>
							<p class="testimonial-body">
								" Huế, vùng đất cố đô của Việt Nam, không chỉ nổi tiếng với di sản văn hóa và kiến trúc độc đáo mà còn với nhiều loại trái cây đặc sản mang đậm hương vị vùng miền. Có các loại trái cây phổ biến như Thanh trà, Nhãn Lồng, Vú Sữa. "
							</p>
							<div class="last-icon">
								<i class="fas fa-quote-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end testimonail-section -->
<!-- advertisement section -->
<div class="abt-section mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="abt-bg">
					<a href="https://www.youtube.com/watch?v=jXalNeIp2ZI" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="abt-text">
					<p class="top-sub">Since Year 202</p>
					<h2><span class="orange-text">Fruits Shop</span></h2>
					<p>Nơi cung cấp những trái cây tươi ngon và hữu cơ, mang lại sức khỏe và niềm vui cho gia đình bạn.</p>
					<p>Chúng tôi tự hào là địa chỉ tin cậy cho những người yêu thích sự tươi ngon và sự bảo vệ môi trường. Với một sự lựa chọn đa dạng từ trái cây quen thuộc đến các loại trái cây hiếm có, chúng tôi cam kết mang đến cho bạn những sản phẩm chất lượng nhất từ các nguồn cung cấp uy tín.</p>
					<a asp-controller="AboutUs" asp-action="Index" class="boxed-btn mt-4">More news</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end advertisement section -->
<!-- shop banner -->
<section class="shop-banner">
	<div class="container">
		<h3>Chương trình <span class="orange-text">giảm giá!</span>  <br> lớn trong tháng 5.</span></h3>
		<div class="sale-percent"><span>Giảm! <br>Đến</span>50% <span>!</span></div>
		<a asp-controller="Product" asp-action="Shop" class="cart-btn btn-lg">Shop Now</a>
	</div>
</section>
<!-- end shop banner -->
<!-- latest news -->
<div class="latest-news pt-150 pb-150">
	<div class="container">

		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">Our</span> News</h3>
					<p>Tin tức về những sản phảm của chúng tôi</p>
				</div>
			</div>
		</div>
		<!-- Tin 1 -->

		<div class="row">
			@foreach(var item in Model.News)
			{
				if(item.IsHot == true)
				{
					<div class="col-lg-4 col-md-6">
						<div class="single-latest-news">
							<div class="latest-news-bg news-bg-1"></div>
							<div class="news-text-box">
								<h3>@item.Title</h3>
								<p class="blog-meta">
									<span class="author"><i class="fas fa-user"></i> @item.Author</span>
									<span class="date"><i class="fas fa-calendar"></i> @item.CreatedDate</span>
								</p>
								<p class="excerpt">@item.Content</p>

							</div>
						</div>
					</div>
				}
			}
			
			
		</div>

		<div class="row">
			<div class="col-lg-12 text-center">
				<a asp-controller="New" asp-action="Index" class="boxed-btn">More News</a>
			</div>
		</div>
	</div>
</div>

<!-- end latest news -->
