@model IEnumerable<FruitShopMVC.Models.Products>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Trái cây tươi và Hữu cơ</p>
					<h1>Shop</h1>
					<br />
					<form method="get">
						<input style="border:solid 0.5px type="text" name="searchTerm" placeholder="Search Product" />
						<button type="submit" style="background-color :black;border:none;color:#fff">Search</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="Sp">
			<h2>Products</h2>
		</div><br>
		<div class="row product-lists">
			@foreach(var item in Model)
			{
				<!-- Sản Phẩm 1 -->
				<div class="col-lg-4 col-md-6 text-center Dau">
					<div class="single-product-item">
						<div class="product-image">
							<a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId"><img src="@item.ImageUrl" alt=""></a>
						</div>
						<h3>@item.ProductName</h3>
						<p class="product-price"><span>Mỗi Kg</span> @item.Price </p>
						<form >
							<input type="number" placeholder="1">
						</form>
						<a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pId="@item.ProductId" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<!-- Sản Phẩm 1 -->
			}
		</div>
	</div>
</div>
<br>

<!-- end products -->
<!-- footer -->
<br>
<br>
<br>